# Python Sets and Set Methods

## What is a Set?
A **set** in Python is an **unordered**, **mutable**, and **unique** collection of elements. It does not allow duplicate values.
- there are no order in set
- it not allows any duplicat

### Creating a Set:
```python
# Empty set (must use set(), not {})
empty_set = set()

# Set with elements
numbers = {1, 2, 3, 4, 5}

# Mixed data types
mixed_set = {1, "Hello", 3.14, True}

# Creating a set from a list
unique_numbers = set([1, 2, 2, 3, 4, 4, 5])
print(unique_numbers)  # {1, 2, 3, 4, 5}
```

## Common Set Methods

| Method | Description | Example |
|--------|------------|---------|
| `add(x)` | Adds an element `x` to the set. | `my_set.add(10)` |
| `update(iterable)` | Adds multiple elements from an iterable. | `my_set.update([6, 7, 8])` |
| `remove(x)` | Removes `x` from the set (raises an error if not found). | `my_set.remove(3)` |
| `discard(x)` | Removes `x` from the set (does not raise an error if not found). | `my_set.discard(3)` |
| `pop()` | Removes and returns a random element. | `my_set.pop()` |
| `clear()` | Removes all elements from the set. | `my_set.clear()` |
| `copy()` | Returns a shallow copy of the set. | `new_set = my_set.copy()` |

## Set Operations

| Operation | Description | Example |
|-----------|------------|---------|
| `union(set2)` | Returns a new set with all unique elements from both sets. | `set1.union(set2)` |
| `intersection(set2)` | Returns a set with elements common to both sets. | `set1.intersection(set2)` |
| `difference(set2)` | Returns a set with elements in `set1` but not in `set2`. | `set1.difference(set2)` |
| `symmetric_difference(set2)` | Returns a set with elements in either `set1` or `set2`, but not both. | `set1.symmetric_difference(set2)` |
| `issubset(set2)` | Returns `True` if `set1` is a subset of `set2`. | `set1.issubset(set2)` |
| `issuperset(set2)` | Returns `True` if `set1` is a superset of `set2`. | `set1.issuperset(set2)` |

## Example Usage:
```python
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Union
print(set1 | set2)  # {1, 2, 3, 4, 5, 6}

# Intersection
print(set1 & set2)  # {3, 4}

# Difference
print(set1 - set2)  # {1, 2}

# Symmetric Difference
print(set1 ^ set2)  # {1, 2, 5, 6}
```

## Key Properties of Sets:
- **Unordered**: No indexing or slicing.
- **Unique Elements**: Duplicates are automatically removed.
- **Mutable**: You can add or remove elements.

In [1]:
l = []
type(l)

list

In [4]:
s = set()           #For empty set () and for set with values {}
type(s)             #Its not like other to create empty set

set

In [8]:
s = {6, 2, 5, 7, 9}
s

{2, 5, 6, 7, 9}

In [9]:
# Mixed data types
mixed_set = {1, "Hello", 3.14, True}

In [13]:
# Creating a set from a list
list = [1, 3, 5, 7, 4, 3, 3]

uns = set(list)                        #Typecasting from list to SET

In [14]:
uns                                    #Remove duplicates

{1, 3, 4, 5, 7}

In [15]:
s.add(34)
s

{2, 5, 6, 7, 9, 34}

In [17]:
s.update([4, 56, 8])               #For add multiple 
s                                  #Add list

{2, 4, 5, 6, 7, 8, 9, 34, 56}

In [22]:
new_set = s.copy()                #Creates a copy of our set
new_set

{2, 4, 5, 6, 7, 8, 9, 34, 56}

### Set Operations
-It returns new set it not update the OG set

In [28]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

In [29]:
set1.union(set2)                  #Merge 2 set's with unique values

{1, 2, 3, 4, 5, 6}

In [30]:
set1.intersection(set2)           #Return the values that present in both

{3, 4}

In [31]:
sub = {1, 3}

In [35]:
sub.issubset(set1)               #Subset means there are all sub elements in the set1

True

In [37]:
sub.issubset(set2)               #If not it returns false

False