## Variables - Container for storing data

In [1]:
name = "Farhan"
name

'Farhan'

In [2]:
a = 5
a

5

In [3]:
b = 10
a + b

15

## Data Types - Describe what type of data

- int - 1, 2, 5
- float - 1.5, 2.1
- str - "Farhan", "Zeeshan"
- bool - True, False
- List - [1, 3, 'Farhan']
- Tuple - (1, 3, 5)
- Dict - {"a": 1}

In [4]:
type(a)

int

In [5]:
type(name)

str

## TypeCasting - To change data type

In [6]:
x = "123"
y = "456"
x+y

'123456'

In [9]:
int(x) + int(y)     #Conver string to integer

579