# Core Data Structures in Pandas

Pandas is built on two main data structures:

1. **Series** â†’ One-dimensional (like a single column in Excel)  
2. **DataFrame** â†’ Two-dimensional (like a full spreadsheet or SQL table)

---

## ðŸ“Š Series â€” 1D Labeled Array

A **Series** is like a list with labels (index).

```python
import pandas as pd

s = pd.Series([10, 20, 30, 40])
print(s)
```
**Output:**
```
0    10
1    20
2    30
3    40
dtype: int64
```

Notice the **automatic index**: `0, 1, 2, 3`

You can also define a **custom index**:

```python
s = pd.Series([10, 20, 30], index=["a", "b", "c"])
print(s)
```
**Output:**
```
a    10
b    20
c    30
dtype: int64
```

---

### ðŸ” Series vs Dictionary

A `pandas.Series` may look similar to a Python **dictionary** because both store data with labels, but a **Series** offers much more:

| Feature | Python Dictionary | Pandas Series |
|----------|-------------------|----------------|
| Data structure | Keyâ€“Value store | Labeled 1D array |
| Operations | Manual looping | Vectorized (fast) |
| Missing data | Must handle manually | Supports `NaN` |
| Indexing | Keys only | Labels + Positions |
| Integration | Limited | Works with DataFrames, NumPy, etc. |

âœ… **In short:** A Series is better for **data analysis** because it supports fast arithmetic, automatic index alignment, and flexible data access.

---

## ðŸ§® DataFrame â€” 2D Labeled Table

A **DataFrame** is like a **dictionary of Series** â€” multiple columns with labels.

```python
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

df = pd.DataFrame(data)
print(df)
```
**Output:**
```
      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore
```

Each **column** in a DataFrame is a **Series**.

You can access columns like this:

```python
print(df["name"])  # Access a Series
```

---

## ðŸ·ï¸ Index and Labels

Every **Series** and **DataFrame** has an **Index**, which helps with:

- Fast lookups  
- Aligning data  
- Merging & joining  
- Time series operations

You can check them using:

```python
df.index      # Row labels
df.columns    # Column labels
```

You can also change them:

```python
df.index = ["a", "b", "c"]
df.columns = ["Name", "Age", "City"]
print(df)
```
**Output:**
```
   Name  Age       City
a  Alice  25      Delhi
b    Bob  30     Mumbai
c Charlie 35  Bangalore
```

---

## ðŸŽ¯ Why Learn These Well?

Most Pandas operations are built on these two foundations:

- Selection (`df["col"]` or `df.loc[]`)  
- Filtering (`df[df["age"] > 30]`)  
- Merging (`pd.merge(df1, df2)`)  
- Aggregation (`df.groupby("col").mean()`)  

Understanding **Series** and **DataFrames** will make all future Pandas tasks much easier.

---

## âœ… Summary

| Concept | Description |
|----------|--------------|
| **Series** | 1D array with labels |
| **DataFrame** | 2D table with rows and columns |
| **Index** | Provides fast, labeled access to data |

ðŸ§  **Remember:** Series and DataFrames are the **heart of Pandas** â€” master these first before moving on to advanced operations.

In [1]:
import pandas as pd

In [2]:
s = pd.Series([67, 37, 64, 75, 23])                     # Series is like list with lables
type(s)                                                 # Automatically indexing  1D

pandas.core.series.Series

In [3]:
s

0    67
1    37
2    64
3    75
4    23
dtype: int64

In [4]:
s1 = pd.Series([67, 37, 64, 75, 23], index = ['Farhan', 'Samiya', 'Zeeshan', 'Khushi', 'Fam'])
s1                                              # Mannual Indexing

Farhan     67
Samiya     37
Zeeshan    64
Khushi     75
Fam        23
dtype: int64

In [5]:
s1['Farhan']                                  # Access ele

np.int64(67)

###  DataFrame â€” 2D Labeled Table 
DataFrame is like a dictionary of Series â€” multiple columns with labels.

In [6]:
 data = {
 "name": ["Alice", "Bob", "Charlie"],
 "age": [25, 30, 35],
 "city": ["Delhi", "Mumbai", "Bangalore"]
 }

In [7]:
df = pd.DataFrame(data)                                   # Read data in table format
df

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [8]:
df.index                                            # Info about index

RangeIndex(start=0, stop=3, step=1)

In [9]:
df.columns                                         # Info about columns

Index(['name', 'age', 'city'], dtype='object')

In [12]:
pd.Series([1, 2, 3], index=["Farhan","Sam","Fam"])

Farhan    1
Sam       2
Fam       3
dtype: int64

In [13]:
data = {
    "Name":['Farhan', 'Samiya'],
    "Age": [21, 31]
}
pd.DataFrame(data)

     Name  Age
0  Farhan   21
1  Samiya   31